@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=La+Belle+Aurore&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c2c2a;
  --foreground: #2c2c2a;
  --accent-color: #881523;
  --light-grey: rgba(255, 255, 255, 0.54);
  --light-grey-font: rgba(255, 255, 255, 0.5);
  --font-color: #fff;
  --color-black: black;
  --gradient-background: linear-gradient(180deg, #D09086 0%, #881523 47.5%, #2B2B2B 100%);
  --padding-5:5px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-50: 50px;
  --padding-100: 100px;
  --padding-150: 150px;
  --padding-200: 200px;
}
body {
  font-family: "Bangla Sangam MN", sans-serif;
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-family: "Bangla Sangam MN", sans-serif;
  color: var(--font-color);
}

h2 {
  font-family: "Bangla Sangam MN", sans-serif;
  color: var(--font-color);
}

h3 {
  font-family: "Bangla Sangam MN", sans-serif;
  color: var(--font-color);
}
a, span{
  font-family: "Bangla Sangam MN", sans-serif;
}
h4 {
  font-family: "La Belle Aurore", serif;
  color: var(--font-color);
}
button {
  font-family: "Bangla Sangam MN", sans-serif;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background-color: #771219;
}
p {
  font-family: "Bangla Sangam MN", sans-serif;
  color: var(--font-color);
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Slow, medium, fast speeds */
.animate-infinite-scroll-slow {
  animation: infiniteScroll 30s linear infinite;
}

.animate-infinite-scroll-medium {
  animation: infiniteScroll 15s linear infinite;
}

.animate-infinite-scroll-fast {
  animation: infiniteScroll 8s linear infinite;
}